<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Image search micro service for FreeCodeCamp</h1>
            <hr>
            
            <h3>Example Usage</h3>
            <code>
               https://calm-retreat-40288.herokuapp.com/api/imagesearch/car?offset=1
            </code>
            <br>
            
            <h3>Example output</h3>
            <pre>
{ 
    type: 'image/jpeg',
    width: 450,
    height: 299,
    size: 24776,
    url: 'http://www.oddee.com/_media/imgs/articles2/a97873_rsz_lolcat-funny-picture-found-pills-ate-eat.jpg',
    thumbnail:{ 
        url: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbI-hakh1CXH8FiODeilbT83H5wXP3ivU9Y-t_EQ2GZBBpgvVcIVx35fs',
        width: 127,
        height: 84 
    } 
}
            </pre>
            
            <h3>Latest searchs</h3>
            <a href="/api/imagesearch/latest">Latest searchs</a>
        </div>
    </body>
</html>