<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Microservices for FreeCodeCamp</h1>
            <hr>
            
            <h2>Current api's</h3>
            <hr>
            <h3>Timestamp</h3>
            <code>
               https://calm-retreat-40288.herokuapp.com/api/timestamp
            </code>
            <br>
            <h3>Request headers</h3>
            <code>
                https://calm-retreat-40288.herokuapp.com/api/whoami
            </code>
            <h3>URL shorten</h3>
            <code>
                https://calm-retreat-40288.herokuapp.com/api/shorten
            </code>
            <h3>Image search</h3>
            <code>
                https://calm-retreat-40288.herokuapp.com/api/imagesearch
            </code>
        </div>
    </body>
</html>