<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>Timestamp micro service for FreeCodeCamp</h1>
            <hr>
            
            <h3>Example Usage</h3>
            <code>
               https://calm-retreat-40288.herokuapp.com/December%2015,%202015 
            </code>
            <br>
            <code>
               https://calm-retreat-40288.herokuapp.com/1450137600
            </code>
            
            <h3>Example output</h3>
            
            <code>
               { "unix": 1450137600, "natural": "December 15, 2015" }
            </code>
        </div>
    </body>
</html>